#cuadro1{
    width: 200px;
    height: 200px;
    background-color: red;
}
body {
    background-image: url(../Imagenes/got2.jpg);
    background-size: cover;

}
h1{
    color: white;
    text-align: center;
    border:2px solid Tomato;
    background-color:hsla(9, 100%, 64%, 0.5);
}
p {
    font-family: verdana;
    font-size: 20px;
  }